[Desktop Entry]
Type=Application
Exec=foot --server
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;

Name=Foot Server
GenericName=Terminal
Comment=A wayland native terminal emulator
