[Desktop Entry]
Type=Application
Exec=foot
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;

Name=Foot
GenericName=Terminal
Comment=A wayland native terminal emulator
